---
id: previous_projects
name: previous_Projects
heading: Portfolio Timeline
subheading: What projects do I want to show?
---

<b>The following is a timeline to show some of the projects that I have worked on, either as a solo developer or as part of a team.</b>  
  The courses during both my bachelor's and master's programme were very practical, because of this I have finished numurous other projects.
  However, since most of these have either really simple interfaces, or no interfaces at all, I thought it would be best to make a selection.
  I have chosen to show the following projects since I enjoyed creating them and/or am proud of the results.
  I try to share my source code for the showcased projects, however for some I am unable to do so.

<main>
  {% assign left = false %}
  {% for project in site.projects %}
  {% if left == true %}
  <h3><b>{{ project.title }}</b></h3>
  {% else %}
  <h3 style="text-align: right;"><b>{{ project.title }}</b></h3>
  {% endif %}
  <table>

    {% if left == true %}
    <th style="width: 25%;">
      <img class="thumbnail" style="width: 75%;" src="{{project.logo}}" />
    </th>
    <th style="width: 5%;"></th>
    {% else %}
    {% endif %}
    <th>
      <div class='lead'>{{ project.content }}</div>
    </th>

    {% if left == false %}
    <th style="width: 5%;"></th>
    <th style="width: 25%;">
      <img class="thumbnail" style="width: 100%;" src="{{project.logo}}" />
    </th>
    {% assign left = true  %}
    {% else %}
    {% assign left = false  %}
    {% endif %}
  </table>
  {% endfor %}

</main>