<section class="about" id="about">

    <div class="about-img">
      <img src="image.jpg" alt="" />
    </div>

    <div class="about-content">
      <h2 class="heading">About <span>Me</span></h2>
      <p>
        I'm a software engineer and game developer, currently working as a Product Owner at <a href="https://www.dynatos.com/">Dynatos</a>.
        <br>
        <br>
        My academic background includes an <span>MSc in Game and Media Technology</span> and a <span>BSc in Game Technology</span>, both in computer
        science, where I specialized in <b>C# (.NET)</b> and <b>Unity</b>. 
        <br>
        My skill set also extends to C++, Python, Haskell, Kotlin, HTML, CSS, SQL, and PHP.
        These languages have enabled me to complete diverse projects, ranging from AI development to real-time ray tracing.
        <br>
        <br>
        My journey in game development began with a minor in Game Design at the HKU (University of the Arts Utrecht), followed
        by several passion projects.
      </p>
      <p class="portfolio-summary">
        In my portfolio, I showcase projects that I’ve worked on as a solo developer or as part of a team. 
        These projects reflect my passion for game design and development, and I’m proud to share them with you. 
        <a href="#portfolio">Take a look!</a>
      </p>
    </div>
    
  </section>