<main>

    {% assign left = true %}
    {% for blog in site.blogs %}
    <hr id='{{ blog.id }}' style="height: 1px;">

    {% if left == true %}
    <h2>{{ blog.heading }}<span class="subheading">{{ blog.subheading }}</span></h2>
    <h5>{{ blog.datum }}</h3>
    {% else %}
    <h2 style="text-align:right;">{{ blog.heading }}<span class="subheadingleft">{{ blog.subheading }}</span></h2>
    <h5>{{ blog.datum }}</h3>
    {% endif %}
    <table>
        <br />
        <th>
            <div class='lead'>{{ blog.content }}</div>
        </th>

        {% if left == false %}
        {% assign left = true %}
        {% else %}
        {% assign left = false %}
        {% endif %}
    </table>
    {% endfor %}
</main>