<div class="footer">
  <div class="container">

      <div class="row">
          <div class="column">
              <p>Copyright &copy; {{ site.sitename }} {{ site.time | date: '%Y' }} </p>
          </div>
          <div class="column">
              <a href="{{ site.github.owner_url }}" target="_blank"><img src="../assets/images/github.svg" alt="Github" class="icon"></a>
              <a href="https://www.linkedin.com/in/floris-devries/" target="_blank"><img src="../assets/images/LinkedIn.png"
                  alt="LinkedIn" class="icon"></a>
          </div>
        </div>

  </div>
</div>

  
         

