<footer class="footer">

  <div class="social">
    <a href="https://github.com/FlorisDeVries" target="_blank"><img src="../assets/images/github-mark-white.svg" alt="Github" class="icon"></a>
    <a href="https://www.linkedin.com/in/floris-devries/" target="_blank"><img src="../assets/images/LinkedIn.png"
        alt="LinkedIn" class="icon"></a>
  </div>

  <p class="copyright">© {{ site.time | date: '%Y' }} {{ site.author }} | All Rights Reserved</p>
  <p class="kvk-number">KvK: 98752030</p>
  <p class="kvk-number">BTW: NL005351586B82</p>

</footer>