<section class="home" id="home">
  <div class="home-content">
    <h3>Hi!</h3>

    <h1>
      I'm <span>Floris<br /></span>
    </h1>

    <h2>
      a Software Engineer & Solution Architect
    </h2>
    <p>
      Delivering custom software solutions and technical expertise for your business needs.
    </p>

    <div class="btn-box">
      <a href="#about" class="btn-1">About Me</a>
      <a href="#portfolio" class="btn-2">Portfolio</a>
    </div>

  </div>

  <div class="img-box">
    <img src="{{page.logo | relative_url}}" alt="" />
  </div>

</section>