---
---

@import "{{ site.theme }}";

textarea, input {
    font-family: 'Noto Sans';
    width: 300px;
    padding: 1px;
    margin: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    border-radius: 50%;
    border: 2px solid #267CB9;
}