--- 
layout: compress 
--- 

$secondary-color: black;
$primary-color: white;
$accent-color: #7E57C2;
$background-color: #f1f1f1;
$text-color: #333;
$alt-text-color: #555;
$nav-bar-color: rgba(0, 0, 0, 0.8);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 12%;
    background: $nav-bar-color;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: $primary-color;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: $accent-color;
    text-shadow: 0 0 25px $accent-color,
        0 0 50px $accent-color;
    transform: scale(1.1);
}

.navbar a {
    font-size: 18px;
    color: $primary-color;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: $accent-color;
    border-bottom: 3px solid $accent-color;
}

.contact {
    padding: 10px 28px;
    background-color: $primary-color;
    color: $secondary-color;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover {
    background-color: $accent-color;
    box-shadow: 0 0 25px $accent-color;
    color: $primary-color;
}

.home {
    width: 100%;
    height: 100vh;
    background: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 30px 12% 0;
    box-sizing: border-box;
}

.home-content {
    max-width: 700px;
}

.home-content h3 {
    font-size: 42px;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

span {
    color: $accent-color;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box {
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1 {
    padding: 15px 28px;
    background-color: $secondary-color;
    color: $primary-color;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover {
    background-color: $primary-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
}

.btn-2 {
    padding: 15px 28px;
    background-color: $accent-color;
    color: $primary-color;
    border: 2px solid $secondary-color;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2:hover {
    background-color: $primary-color;
    color: $accent-color;
}

.img-box img {
    border: 4px solid $accent-color;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 550px;
}




.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: $secondary-color;
}

.about-img img {
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px $accent-color,
        0 0 50px $accent-color;
    border-radius: 50%;
    top: 1rem;
}

.about-content h2 {
    text-align: left;
    color: $primary-color;
    font-size: 42px;
}

.about-content h3 {
    font-size: 62px;
    color: $primary-color;
}

.about-content a {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s ease;
}

.about-content a:hover {
    text-decoration: underline;
}

.about-content p {
    color: $primary-color;
    font-size: 20px;
    margin: 2em 0 3em;
}

.contact-form {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-details {
    padding: 10px 28px;
    background-color: $primary-color;
    color: $secondary-color;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: $secondary-color;
    margin-top: auto;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: $primary-color;
}

.footer .social img.icon {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s ease;
}

.footer .social a {
    font-size: 24px;
    color: $primary-color;
    border: 2px solid $accent-color;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px $accent-color, 0 0 10px $accent-color;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2);
    color: $accent-color;
    border: 2px solid $accent-color;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: $primary-color;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid $accent-color;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li:hover {
    opacity: 1;

}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: $primary-color;
}

/* Portfolio Section */
.portfolio-summary {
    margin-top: 2em;
    font-size: 16px;
    color: $alt-text-color;
    line-height: 1.6;
}

.portfolio-summary a {
    color: $accent-color;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.portfolio-summary a:hover {
    text-decoration: underline;
}

#portfolio {
    padding: 5% 8%;
    background: $background-color;
    text-align: center;
}

#portfolio h2.portfolio-title {
    font-size: 42px;
    color: $secondary-color;
    margin-bottom: 2em;
    font-weight: 600;
}

#portfolio h2.portfolio-title span {
    color: $accent-color;
    font-weight: 600;
}

/* Portfolio Grid */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Create uniform columns */
    gap: 2em; /* Add spacing between cards */
    padding: 0;
    list-style: none;
}

/* Portfolio Card */
.portfolio-card {
    position: relative;
    background: $primary-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; 
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.portfolio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.portfolio-card:hover .portfolio-card-title {
    opacity: 1;
    transform: translateY(0);
}

/* Thumbnail Image */
.portfolio-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.portfolio-card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: $primary-color;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.portfolio-card-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-card-link:hover .portfolio-card {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Project Page Styling */
.project-header {
    text-align: center;
    margin-bottom: 2em;
}

.project-header h1 {
    font-size: 36px;
    color: $secondary-color;
    margin-bottom: 0.5em;
}

.project-summary {
    font-size: 18px;
    color: $alt-text-color;
    margin-top: 0;
}

.project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 2em 2em;
    gap: 2em;
}

.project-content h3 {
    margin-top: 2em;
}

.project-content a {
    color: $accent-color;
    font-weight: bold;
}

.project-content p {
    margin-top: 1.5em;
    line-height: 1.6;
}

.project-content ul {
    display: block !important;
    font-family: inherit;
    list-style-type: disc !important;
    list-style-position: outside !important; 
    padding-left: 1.5em; 
    margin-top: .5em;
}

.project-content ul::marker {
    content: '•'; /* Explicitly set bullet content */
    font-size: 1em; /* Ensure correct sizing */
    color: currentColor; /* Use the current text color */
}

.project-content ul li {
    display: list-item !important;
}

.project-content a:hover {
    text-decoration: underline;
}

.project-info {
    text-align: center;
}

.project-info img {
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 1em;
}

.project-info ul {
    list-style: none;
    padding: 0;
}

.project-info ul li {
    font-size: 16px;
    margin: 0.5em 0;
}

.project-date {
    font-size: 14px;
    color: gray;
    margin-top: 5px;
}

.project-images {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.project-images img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-images p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-top: 0.5em;
}

article {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    color: $text-color;
}

.related-projects {
    padding: 5% 8%;
    margin-top: 4em;
    background: $background-color;
    text-align: center;
}

.related-projects h2.portfolio-title {
    font-size: 36px;
    color: $secondary-color;
    margin-bottom: 2em;
    font-weight: 600;
}

.related-projects h2.portfolio-title span {
    color: $accent-color;
    font-weight: 600;
}