---
layout: compress
id: project-layout
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header_project.html %}

  <!-- Project Content -->
  <main id="description" class="project-content">
    <!-- Project Title -->
    <header class="project-header">
      <h1><span>{{ page.title }}</span></h1>
      <p class="project-summary">{{ page.summary }}</p>
    </header>

    <!-- Project Info -->
    <div class="project-info">
      <img src="{{ page.logo | relative_url }}" alt="{{ page.title }}">
      <ul>
        <li><b>Platform:</b> {{ page.platform }}</li>
        <li><b>Start Date:</b> {{ page.start_date | date: "%Y-%m-%d" }}</li>
        <li><b>End Date:</b> {{ page.end_date | date: "%Y-%m-%d" }}</li>
      </ul>
    </div>

    <!-- Project Description -->
    <article>
      {{ content }}
    </article>
  </main>

  <!-- Related Projects -->
  <section id="related-projects" class="related-projects">
    <h2 class="portfolio-title">Other <span>Projects</span></h2>
    <div class="portfolio-grid">
      {% assign sorted_projects = site.projects | sort: "date" | reverse %}
      {% for project in sorted_projects %}
      {% if project.id != page.id %}
      <a href="{{ project.url }}" class="portfolio-card-link">
        <div class="portfolio-card">
          <img class="portfolio-thumbnail" src="{{ project.logo | relative_url }}" alt="{{ project.title }}">
          <div class="portfolio-card-title">
            <h3>{{ project.title }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</body>

</html>
{% include footer.html %}